body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff3e6;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 325px;
    text-align: center;
}

.login-container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #ff6699;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #cc3366;
}

.form-group input {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ffb3b3;
    border-radius: 5px;
}

.form-group input:focus {
    border-color: #ff80bf;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #ff6699;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e55d85;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #cc3366;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}
.sign-up {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #cc3366;
    text-decoration: none;
}
.sign-up:hover {
    text-decoration: underline;
}


